# Rubbish
Thumbs.db
.DS_Store
.directory

*.swp
*~

bin/
lib/


# Gradle
build
.gradle

# Eclipse
.project
.classpath
.settings
.metadata
.recommenders

# IntelliJ IDEA
*.iml
.idea

# Crash reports
*.log


#UML Diagram
*.ucls




# Merge conflicts
*.orig


# Local sonar installations
sonar-project.properties
.sonar/
